*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
#button-home{
    text-align: center;
    margin: 10px;
}
#sidebare{
    width: 220px;
    height: 600px;
    background: #1f693b;
}
#main{
    background-image: url(image/home-image.jpg);
    background-size: cover;
    /* height: 100%; */
    width: 84%;
}
h2{
    font-style: italic;
    text-align: center;
    margin: 60px 0px 60px 90px;
    padding: 10px;
}
p{
    text-align: center;
    font-size: 28px;
    
}
/* insert.php */
form{
    text-align: center;
}
input{
    border: 1px;
    border-radius: solid 1px;
}
fieldset{
    border: solid ;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    margin-left: 35%;
    margin-top: 30px;
    padding: 15px;
    background-color: rgb(93, 93, 117);
}
/* index .php */
.page-title{
    text-align: center;
    font-style: italic;
    background-color:#1f693b ;
    font-size: 40px;
}
table{
    margin-top: 30px;
}
/* .btn{
    color: white; 
    background-color: green;
} */
 /* .side-navbar {
    width: 590px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #24eb3f;
    transition: 0.5s;
  }
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #665b5b26;
  }
  .my-container {
    transition: 0.4s;
  }
  .active-nav {
    margin-left: 0;
  }
  for main section
  .active-cont {
    margin-left: 180px;
  }
   */